/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running cmd parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run taco for CMD

    Use as follows:
        nextflow run sulphur/main.nf -profile singularity,cmd --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    executor                    = 'slurm'
    queue                       = 'low'
}

singularity{
	enabled = true
	runOptions = '--bind /fs1/ --bind /fs2/ --bind /local/ --bind /mnt/beegfs/'
	cacheDir = "/fs1/resources/containers/"
}

params {
    sequencing_run              = ""
    outdir                      = "/fs1/results/taco/${params.sequencing_run}"

    config_profile_name         = 'cmd profile'
    config_profile_description  = 'CMD High performance profile'

    // Databases
    db                          = '/fs1/pipelines/taco-dev/assets/databases/emu_database'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                    = 60
    max_memory                  = '300.GB'
    max_time                    = '48.h'

    // Reads
    save_merged_reads           = false

    // Boilerplate
    publish_dir_overwrite       = true
    run_taco                    = true
    copy_to_cron_dir            = false

    taco_results_paths = [
        nanostats_txt: "${outdir}/%s/nanoplot/%s_T1_nanoplot_unprocessedNanoStats.txt"
    ]
}

process {
    withName: EXPORT_TO_CDM {
		publishDir = [ [ path: "${params.outdir}/cdm", mode: 'copy', overwrite: true ] ] + (params.copy_to_cron_dir ? [ [ path: "/fs1/results/cron/qc", mode: 'copy', overwrite: true ] ] : [])
    }

    withName: PARSE_QC_FOR_CDM {
		publishDir = [ path: "${params.outdir}/qc", mode: 'copy', overwrite: true ] 
    }
}
