/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running cmd parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run haeger for CMD.
    Always load alongside trana's config:

        nextflow -c /path/to/trana/nextflow.config run haeger/main.nf -profile singularity,cmd --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

manifest {
    name            = 'SMD-Bioinformatics-Lund/haeger'
    homePage        = 'https://github.com/SMD-Bioinformatics-Lund/haeger'
    description     = 'A nextflow pipeline for post-processing TRANA results and exporting to CDM format.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '0.1.0'
    doi             = ''
}

process {
    executor                    = 'slurm'
    queue                       = 'low'
}

params {
    outdir                      = "/fs1/results/trana"

    config_profile_name         = 'cmd profile'
    config_profile_description  = 'CMD High performance profile'

    // Databases
    db                          = '/fs1/pipelines/trana-dev/assets/databases/emu_database'

    // Resource limits
    max_cpus                    = 60
    max_memory                  = '300.GB'
    max_time                    = '48.h'

    // Override trana defaults
    save_merged_reads           = false
    krona_taxonomy_tab          = null
    publish_dir_overwrite       = true

    // haeger-specific inputs
    csv                         = null
    barcodes_samplesheet        = null
    sequencing_run              = null
    fastq_pass                  = params.sequencing_run ? "${params.sequencing_run}/fastq_pass" : null

    // Boilerplate
    containers_dir              = "/fs1/resources/containers"
    run_trana                   = true
    copy_to_cron_dir            = false
    offline                     = true
    publish_concatenated_reads  = false

    // Output directories
    concatenated_reads_outdir     = "${params.outdir}/concatenated_reads"
    concatenated_reads_csv_outdir = "${params.outdir}/concatenated_reads_csv"
    qc_outdir                     = "${params.outdir}/qc"
    cdm_outdir                    = "${params.outdir}/cdm"
    qc_cron_outdir                = "/fs1/results/cron/qc"

    trana_results_paths = [
        nanostats_txt: "${outdir}/nanoplot/%s_nanoplot_unprocessedNanoStats.txt"
    ]
}


singularity {
    enabled = true
    runOptions = '--bind /fs1/ --bind /fs2/ --bind /local/ --bind /mnt/beegfs/'
    cacheDir = "/fs1/resources/containers"
}

includeConfig 'conf/modules.config'

profiles {
    test { includeConfig 'conf/test.config' }
}
