/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running cmd parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run taco for CMD

    Use as follows:
        nextflow run sulphur/main.nf -profile singularity,cmd --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    executor                    = 'slurm'
    queue                       = 'low'
}

singularity{
	enabled = true
	runOptions = '--bind /fs1/ --bind /fs2/ --bind /local/ --bind /mnt/beegfs/'
	cacheDir = "/fs1/resources/containers/"
}

params {
    outdir                      = "/fs1/results/taco"

    config_profile_name         = 'cmd profile'
    config_profile_description  = 'CMD High performance profile'

    // Databases
    db                          = '/fs1/pipelines/taco-dev/assets/databases/emu_database'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                    = 60
    max_memory                  = '300.GB'
    max_time                    = '48.h'

    // Reads
    save_merged_reads           = false

    // Boilerplate
    publish_dir_overwrite       = true
    run_taco                    = true
    copy_to_cron_dir            = false
    offline                     = true

    taco_results_paths = [
        nanostats_txt: "${outdir}/nanoplot/%s_nanoplot_unprocessedNanoStats.txt"
    ]
}

includeConfig 'conf/modules.config'
