/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running CI stub tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'CI stub run profile'

    outdir          = 'results'
    run_trana       = true
    offline         = false
    run_krona       = false
    validate_params = false

    // Pass seqtype through to TRANA
    seqtype         = 'map-ont'

    quality_filtering = false

    // Resource limits
    max_cpus        = 2
    max_memory      = '6.GB'
    max_time        = '6.h'
}

process {
    executor = 'local'
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]
}

singularity {
    enabled = false
}
